# Ignore Builds Directory
build/**
MelScrobbleX.xcodeproj/ashe.mode1v3
MelScrobbleX.xcodeproj/ashe.pbxuser
MelScrobbleX.xcodeproj/._tohnominagi.pbxuser
MelScrobbleX.xcodeproj/._tohnominagi.perspectivev3
MelScrobbleX.xcodeproj/ashe.perspectivev3